body {
   
    background-image: url('https://images.unsplash.com/photo-1586672807768-5aebd68f8bba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
